@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[90%] px-[30px] mx-auto;
  }
  .element-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply bg-gradient-to-b bg-[#3F67AD] hover:from-blue-500 hover:to-[#FF8F94] transition-all duration-200 text-white rounded-[12px] px-[28px] py-[15px] font-medium text-lg leading-[26px] not-italic;
  }
}
/* [#3F67AD]  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Plus Jakarta Sans",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}
